[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
sqlalchemy-stubs = "*"
pytest = "*"
python-dotenv = "*"
psycopg2-binary = "*"
alembic = "*"
inject = "*"
aiopg = "*"
pyjwt = "*"
pytest-asyncio = "*"
httpx = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
